.blank {
  @media (min-width: 1024px) {
    padding-left: 256px;

    &__header {
      margin-top: 48px;
      min-height: 76px;
      overflow-wrap: anywhere;
      border-radius: nullpx;
      font-family: SF Pro Display;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: 38px;
      letter-spacing: 0em;
      text-align: left;
      color: #262626;
    }
    &__topform {
      display: flex;
      //   margin-top: 40px;
    }
    &__left {
      margin-right: 80px;
    }
    &__fileinput {
      margin-top: 24px;
    }
    &__file {
      margin-top: 24px;
    }
  }

  width: 100%;
  background: #ffffff;
  padding: 0 16px 82px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__file {
    display: flex;
    max-width: 343px;
    height: 22px;
    justify-content: space-between;
    &:hover {
      background: #e6f7ff;
    }
  }
  &__clip {
    display: flex;
  }
  &__header {
    margin-top: 48px;
    min-height: 76px;
    overflow-wrap: anywhere;
    border-radius: nullpx;
    font-family: SF Pro Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #262626;
  }

  &__data {
    margin-top: 40px;
  }
  &__lesserheader {
    &.-sex {
      margin: 34px 0 24px;
      display: flex;
    }
    &.-github {
      margin-bottom: 12px;
    }
    &.-warn {
      font-family: SF Pro Display;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      margin-left: 8px;
      letter-spacing: 0em;
      text-align: left;
      color: #f5222d;
    }
    font-family: SF Pro Display;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #262626;
  }
  &__topform {
    margin-bottom: 24px;
  }
  &__sex {
    max-width: 343px;
    display: flex;
    margin-bottom: 20px;
    &.-option {
      display: flex;
      margin-right: 40px;
    }

    &.-text {
      margin-left: 8px;
    }
  }
  &__policy {
    display: flex;
    margin-bottom: 40px;
  }
  &__policytext {
    display: flex;
    font-family: SF Pro Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    white-space: nowrap;
  }
}

.link {
  margin-left: 8px;
  border-bottom: solid 2px;
  color: #1890ff;
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.loading {
  position: relative;
}

.plus {
  position: absolute;
  left: 4px;
  top: -2px;
}

.label {
  &.-disabled {
    color: #bcbcbc;
  }
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #595959;

  margin: 8px 133.5px 8px 133.5px;
  &.-bot {
    color: #ffffff;
    &.-disabled {
      color: #bcbcbc;
    }
  }
}
