.modal {
  z-index: 999;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 404px;
  width: 640px;
  top: 100px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.23);
  max-height: 500px;
  &__header {
    font-family: SF Pro Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    padding: 32px 76px 8px 58px;
  }
  &__types {
    margin-top: 10px;
  }

  &__body {
    min-height: 220px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 38px 32px 42px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0em;
    font-size: 20px;
    line-height: 38px;

    color: #262626;
    overflow-y: auto;
  }

  &__foot {
  
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__background {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(53, 61, 75, 0.3);
    z-index: 1000;
  }
  &__close {
    position: absolute;
    right: 11px;
    top: 11px;
    border: 0;
    background: #ffffff;
  }
}
