.select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  height: 88px;
  &__pole {
    height: 40px;
    width: 500px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 2px;
    color: #595959;
    padding: 8px 12px 8px 12px;
    &:focus {
      border: 1px solid #40a9ff;
      outline: none;
    }
    &:hover {
      border: 1px solid #40a9ff;
    }
  }
  &__option {
    height: 40px;
    width: 343px;
    background: #ffffff;
  }
  &__placeholder {
    color: #bfbfbf;
    font-weight: 300;
    font-weight: 400;
    font-size: 14px;
  }
  &__label {
    margin-bottom: 4px;
  }
}
